<div class="container mx-auto mt-8">
  <p class="text-base font-semibold leading-7 text-indigo-600">Nestor Planchet</p>
  <h1 class="mt-2 text-3xl font-bold tracking-tight sm:text-4xl">Conditions générales d'utilisation</h1>
  <%= tag.p t("users.agreements.show.last_updated", date: l(@agreement.updated.to_date, format: :long)), class: "mb-4 text-gray-700 leading-normal italic" if @agreement %>

  <%= render "users/agreements/terms_of_service" %>
</div>
