<%# Don't forget to update the Agreement updated timestamp after modifying! %>
<div class="mx-auto max-w-6xl text-base leading-7 text-white">
  <p class="mt-6 text-xl leading-8">
    Ces conditions ont été rédigées pour que les utilisateurs puissent profiter pleinement de l'outil dans un cadre définis et précis. Merci de respecter ces conditions générales.
  </p>
  <div class="mt-10">
    <p class="mt-4">En vigueur au 27/03/2023.</p>
    <p class="mt-4">
      Les présentes conditions générales d'utilisation (dites « CGU ») ont pour objet l'encadrement juridique des modalités 
      de mise à disposition du site et des services par DataGrow.me et de définir les conditions d'accès et d'utilisation des services par « l'Utilisateur ».
    </p>
    <p class="mt-4">
      Les présentes CGU sont accessibles sur le site à la rubrique «CGU».
    </p>
    <p class="mt-4">
      Toute inscription ou utilisation du site implique l'acceptation sans aucune réserve ni restriction des présentes CGU par
      l'utilisateur. Lors de l'inscription sur le site via le Formulaire d'inscription, chaque utilisateur accepte
      expressément les présentes CGU en cochant la case précédant le texte suivant : « Je reconnais avoir lu et compris les
      CGU et je les accepte ».
    </p>
    <p class="mt-4">
      En cas de non-acceptation des CGU stipulées dans le présent contrat, l'Utilisateur se doit de renoncer à l'accès des
      services proposés par le site.
    </p>
    <p class="mt-4">
      https://nestor-planchet.com se réserve le droit de modifier unilatéralement et à tout moment le contenu des présentes
      CGU.
    </p>
    <h3 class="mt-12">Article 1 : Les mentions légales</h3>
    <p class="mt-4">
      L'édition et la direction de la publication du site https://nestor-planchet.com est assurée par Robin Lespagnol,
      domicilié 29 rue charton.
    </p>
    <p class="mt-4">
      Numéro de téléphone est 6-17.95.90.79
    </p>
    <p class="mt-4">
      Adresse e-mail lespa@datagrow.me.
    </p>
    <p class="mt-4">
      L'hébergeur du site https://nestor-planchet.com est la société Scalengo, dont le siège social est situé au 9 Rue de la Krutenau 67000 Strasbourg, avec le SIRET 80866548300018.
    </p>
    <h3 class="mt-12">ARTICLE 2 : Accès au site</h3>
    <p class="mt-4">
      Le site https://nestor-planchet.com  permet à l'Utilisateur un accès gratuit aux services suivants :
    </p>
    <p class="mt-4">
      Le site internet propose les services suivants :
    </p>
    <p class="mt-4">
      Nestor Planchet est une start-up proposant un outil qui permet d'aider les gérants d'établissement à répondre à leurs avis en ligne.
    </p>
    <p class="mt-4">
      Le site est accessible gratuitement en tout lieu à tout Utilisateur ayant un accès à Internet. Tous les frais supportés
      par l'Utilisateur pour accéder au service (matériel informatique, logiciels, connexion Internet, etc.) sont à sa charge.
    </p>
    <p class="mt-4">
      L'Utilisateur non membre n'a pas accès aux services réservés. Pour cela, il doit s'inscrire en remplissant le
      formulaire. En acceptant de s'inscrire aux services réservés, l'Utilisateur membre s'engage à fournir des informations
      sincères et exactes concernant son état civil et ses coordonnées, notamment son adresse email.
    </p>
    <p class="mt-4">
      Pour accéder aux services, l'Utilisateur doit ensuite s'identifier à l'aide de son identifiant et de son mot de passe
      ou via un connecter SSO Oauth-2 Google .
    </p>
    <p class="mt-4">
      Tout Utilisateur membre régulièrement inscrit pourra également solliciter sa désinscription en se rendant à la page
      dédiée sur son espace personnel. Celle-ci sera effective dans un délai raisonnable.
    </p>
    <p class="mt-4">
      Tout événement dû à un cas de force majeure ayant pour conséquence un dysfonctionnement du site ou serveur et sous
      réserve de toute interruption ou modification en cas de maintenance, n'engage pas la responsabilité de
      https://nestor-planchet.com. Dans ces cas, l'Utilisateur accepte ainsi ne pas tenir rigueur à l'éditeur de toute
      interruption ou suspension de service, même sans préavis.
    </p>
    <p class="mt-4">
      L'Utilisateur a la possibilité de contacter le site par messagerie électronique à l'adresse email de l'éditeur
      communiqué à l'ARTICLE 1.
    </p>
    <h3 class="mt-12">ARTICLE 3 : Collecte des données</h3>
    <p class="mt-4">
      Le site est exempté de déclaration à la Commission Nationale Informatique et Libertés (CNIL) dans la mesure où il ne
      collecte aucune donnée concernant les Utilisateurs.
    </p>
    <h3 class="mt-12">ARTICLE 4 : Propriété intellectuelle</h3>
    <p class="mt-4">
      Les marques, logos, signes ainsi que tous les contenus du site (textes, images, son…) font l'objet d'une protection par
      le Code de la propriété intellectuelle et plus particulièrement par le droit d'auteur.
    </p>
    <p class="mt-4">
      L'Utilisateur doit solliciter l'autorisation préalable du site pour toute reproduction, publication, copie des
      différents contenus. Il s'engage à une utilisation des contenus du site dans un cadre strictement privé, toute
      utilisation à des fins commerciales et publicitaires est strictement interdite.
    </p>
    <p class="mt-4">
      Toute représentation totale ou partielle de ce site par quelque procédé que ce soit, sans l'autorisation expresse de
      l'exploitant du site Internet constituerait une contrefaçon sanctionnée par l'article L 335-2 et suivants du Code de la
      propriété intellectuelle.
    </p>
    <p class="mt-4">
      Il est rappelé conformément à l'article L122-5 du Code de propriété intellectuelle que l'Utilisateur qui reproduit,
      copie ou publie le contenu protégé doit citer l'auteur et sa source.
    </p>
    <h3 class="mt-12">ARTICLE 5 : Responsabilité</h3>
    <p class="mt-4">
      Les sources des informations diffusées sur le site https://nestor-planchet.com sont réputées fiables mais le site ne
      garantit pas qu'il soit exempt de défauts, d'erreurs ou d'omissions.
    </p>
    <p class="mt-4">
      Les informations communiquées sont présentées à titre indicatif et général sans valeur contractuelle. Malgré des mises à
      jour régulières, le site https://nestor-planchet.com ne peut être tenu responsable de la modification des dispositions
      administratives et juridiques survenant après la publication. De même, le site ne peut être tenue responsable de
      l'utilisation et de l'interprétation de l'information contenue dans ce site.
    </p>
    <p class="mt-4">
      L'Utilisateur s'assure de garder son mot de passe secret. Toute divulgation du mot de passe, quelle que soit sa forme,
      est interdite. Il assume les risques liés à l'utilisation de son identifiant et mot de passe. Le site décline toute
      responsabilité.
    </p>
    <p class="mt-4">
      Le site https://nestor-planchet.com ne peut être tenu pour responsable d'éventuels virus qui pourraient infecter
      l'ordinateur ou tout matériel informatique de l'Internaute, suite à une utilisation, à l'accès, ou au téléchargement
      provenant de ce site.
    </p>
    <p class="mt-4">
      La responsabilité du site ne peut être engagée en cas de force majeure ou du fait imprévisible et insurmontable d'un
      tiers.
    </p>
    <p class="mt-4">
    <h3 class="mt-12">ARTICLE 6 : Liens hypertextes</h3>
    <p class="mt-4">
      Des liens hypertextes peuvent être présents sur le site. L'Utilisateur est informé qu'en cliquant sur ces liens, il
      sortira du site https://nestor-planchet.com. Ce dernier n'a pas de contrôle sur les pages web sur lesquelles
      aboutissent ces liens et ne saurait, en aucun cas, être responsable de leur contenu.
    </p>
    <p class="mt-4">
    <h3 class="mt-12">ARTICLE 7 : Cookies</h3>
    <p class="mt-4">
      L'Utilisateur est informé que lors de ses visites sur le site, un cookie peut s'installer automatiquement sur son
      logiciel de navigation.
    </p>
    <p class="mt-4">
      Les cookies sont de petits fichiers stockés temporairement sur le disque dur de l'ordinateur de l'Utilisateur par votre
      navigateur et qui sont nécessaires à l'utilisation du site https://nestor-planchet.com. Les cookies ne contiennent pas
      d'information personnelle et ne peuvent pas être utilisés pour identifier quelqu'un. Un cookie contient un identifiant
      unique, généré aléatoirement et donc anonyme. Certains cookies expirent à la fin de la visite de l'Utilisateur, d'autres
      restent.
    </p>
    <p class="mt-4">
      L'information contenue dans les cookies est utilisée pour améliorer le site https://nestor-planchet.com.
    </p>
    <p class="mt-4">
      En naviguant sur le site, L'Utilisateur les accepte.
    </p>
    <p class="mt-4">
      L'Utilisateur pourra désactiver ces cookies par l'intermédiaire des paramètres figurant au sein de son logiciel de
      navigation.
    </p>
    <h3 class="mt-12">ARTICLE 8 : Droit applicable et juridiction compétente</h3>
    </p>
    <p class="mt-4">
      La législation française s'applique au présent contrat. En cas d'absence de résolution amiable d'un litige né entre les
      parties, les tribunaux français seront seuls compétents pour en connaître.
    </p>
    <p class="mt-4">
      Pour toute question relative à l'application des présentes CGU, vous pouvez joindre l'éditeur aux coordonnées inscrites
      à l'ARTICLE 1.
    </p>
    <p class="mt-4">
      CGU réalisées sur http://legalplace.fr/.
    </p>
  </div>
  <p class="mt-4">
    Ces conditions ont été rédigées pour que les utilisateurs puissent profiter
    pleinement de l'outil dans un cadre définis et précis. Merci de respecter ces conditions générales.
  </p>
  <h3 class="mt-12">Règles de confidentialité</h3>
  <p class="mt-4">
    https://nestor-planchet.com  est éditée par DataGrow, Société basé au 29 rue Charton à Oullins, numéro de Siret : 90894204800012. Le
    terme **Application** s'applique à l'application WEB nommée « Nestor-Planchet». Le terme **Serveur DataGrow** s'applique au
    composant logiciel de la Suite DataGrow avec lequel communique l'Application. Nos règles de confidentialité expliquent
    quelles données nous collectons depuis l'Application et les raisons de cette collecte, comment nous utilisons / traitons
    ces informations et à quels tiers nous pourrions éventuellement les divulguer.
  </p>
  <h3 class="mt-12">Données personnelles</h3>
  <p class="mt-4">
    Depuis notre Application, nous ne collectons que deux données à caractère personnel, pour le bon fonctionnement de
    l'application : des noms et emails.
  </p>
  <h3 class="mt-12">Permissions demandées par l'Application</h3>
  <h4 class="mt-4">Lecture et réponse aux avis Google My Business</h4>
  <p class="mt-4">
    L'objectif de l'application nécessite de pouvoir collecter et répondre au nom de l'utilisateur au avis liés à son
    établissent.
  </p>
  <p class="mt-4">
    Nous ne vendons pas, n'échangeons ni transférons d'informations à des tiers. Cependant, DataGrow s'appuie sur des logiciels fournis par d'autres éditeurs ; leurs règles
    de confidentialité sont aussi applicables.
  </p>
</div>
